/* fancy scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #656565;
  border: 0 none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7f7f7f;
}
::-webkit-scrollbar-thumb:active {
  background: var(--main-bg-color);
}
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
  border: 0 none #ffffff;
  border-radius: 13px;
}
::-webkit-scrollbar-track:hover {
  background: var(--main-bg-color);
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* ---- */
html, body, input {
  font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

html {
  font-size: 20px;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  margin: 0;
  padding: 0;
}

input[type=text], .ghost {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  border: 0;
  margin: 0;
  padding: 0 .5rem;
  height: 2rem;
  font-size: 0.8rem;
}

.search {
  width: calc(100% - 10rem);
}

.app, .ghost {
  width: 10rem;
}

.ghost {
  background-color: transparent;
  display: block;
  line-height: 2rem;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.current, .result {
  padding: 0 .5rem;
  line-height: 2rem;
  height: 2rem;
  white-space: nowrap;
  overflow: hidden;
}

.current {
  color: var(--selected-fg-color);
}

.result {
  font-size: .7rem;
}

.result u {
  color: var(--underline-fg-color);
}

.result.selected {
  font-weight: bold;
}

.results {
  overflow-y: auto;
  height: calc(100% - 4rem);
}
